$font1: 'Gabriela', serif;
$font2: 'Vollkorn SC', serif;
$color1: yellow;
$color2: #c2c2c2;
$color3: black;

.container {
    width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}