.aside-promo {
    margin-left: calc(var(--bs-gutter-x) * .5);
    padding: 0 calc(var(--bs-gutter-x) * .5);
}

.img-300 {
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.gray-btn-color {
    background-color: $gray-color;
}

.contact-link {
    text-decoration: none;
}

.awesome-icon-bg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $gray-color;
    position: relative;
    text-align: center;

    .address-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 auto;
        transform: translate(-50%, -50%);
        color: black;
        
    }
}