.aside-promo {
    padding: 0 calc(var(--bs-gutter-x) * .5);

    .text-information {
        font-size: 11px;
        font-weight: 600;
    }
}

.contact-link {
    text-decoration: none;
}

.awesome-icon-bg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $gray-color;
    position: relative;
    text-align: center;
    margin-right: 10px;

    .address-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 auto;
        transform: translate(-50%, -50%);
        color: black;
    }

}


.blog-wrapper {
    padding: 0 20px;
    padding-bottom: 20px;

    .fresh-blog-card {

        .fresh-blog-content {}
    }

    .blog-addres-info {}

    .gray-btn-color {
        background-color: $gray-color;
    }
}

.blog-title {
    font-size: 20px;
}

.img-300 {
    height: 300px;
    object-fit: cover;
    object-position: center;
}

@media (max-width: $lg) {
    .img-300 {
        height: 180px;
    }

    .blog-title {
        font-size: 16px;
    }
}

@media (max-width:$md) {
    .img-300 {
        height: 250px;
    }

    .blog-wrap {
        gap: 50px;
    }
    
}