.tourmaline {
    width: 90px;
    height: 90px;
    padding: 18px;
}

.custom-color {
    color: $blue-color-site;
}

.subscribe-blue {
    background-color: $blue-color-site;
}

.product-card-section {
    background-color: $gray-color;
}

.stack-card {
    flex-direction: column;
    gap: 25px;

    .card {
        border: 0;
        align-items: center;
        gap: 9px;
        padding: 10px;
        padding-bottom: 25px;

        .badge {
            align-self: end;
            position: relative;
            background-color: #dc3545;
        }


        .product-card-picture {
            width: 170px;
            height: 170px;

        }

        .card-content {
            margin: 0 auto;
        }

        .gray-btn-color {
            font-size: 10px;
            padding: 9px 15px;
            font-weight: 800;
        }

        .star-list {
            font-size: 10px;
            gap: 3px;

            .star-item {}
        }

        .price-cash {
            font-weight: 700;
            font-size: 14px;
            margin: 0;
        }

        &.sale {

            .badge {
                background-color: $blue-color-site;
            }

            .outcash {
                font-size: 12px;
                color: #bcbbbb;

            }

        }
    }
}

.badge:before {
    content: "";
    position: absolute;
    border: 7px solid #dc3545;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: translate(-50%, -50%) rotate(137deg);
    left: 12%;
    top: 50%;  
}

.badge .sale:before {
    content: "";
    position: absolute;
    border: 7px solid $blue-color-site;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: translate(-50%, -50%) rotate(137deg);
    left: 12%;
    top: 50%;  
}





@media (max-width:767px) {
    .stack-card {
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        margin-bottom: 25px;
    }


    @media (max-width:424px) {
        .stack-card {
            flex-direction: column;
        }

        
    }
}

