.preview-block {
    display: flex;
    flex-direction: row;
    gap: 5px;

    .cards {
        display: flex;
        padding: 5px;
        border-radius: 3px;
        box-shadow: 1px 1px 1px 1px $color-pink;

        

            .cards-photo {
                max-width: 280px;
                height: auto;
            }

    }
         

}