.tourmaline {
    width: 90px;
    height: 90px;
    padding: 18px;
}

.custom-color {
    color: $blue-color-site;
}

.subscribe-blue {
    background-color: $blue-color-site;
}

.product-card-section {
    background-color: $gray-color;
}

.card {

    .card-content {
        margin: 0 auto;
    }
}