%cell-style {
   flex-grow: 1;
   text-align: center;

   .cell-name {
      color: #c0c0c0;
   }
}


.header {
   background-color: white;
   border-bottom: 1px solid $color-gray;

   .info-panel-top {
      display: flex;
      flex-direction: row;
      padding: 10px 0;
      line-height: 2;
      
      font-size: 12px;

      .cell {
         @extend %cell-style;
      }

      .welcome {
         flex-grow: 2;
         padding-left: 30px;
      }
   }
}

[class^=item] {
   border-right: 1px solid #e7e6e6;
   border-left: 1px solid #e7e6e6;
   margin-left: -1px;

}