.header {
    border-bottom: 1px solid rgb(212, 212, 212);

    .col-2 {
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        margin-left: -1px;
    }

    .header-row {
        align-items: center;
        text-align: center;
        font-size: 13px;

        .cell {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .welcome {
            text-align: start;
            padding-left: 20px;
        }

        .form-select {
            width: 56%;
            border: 0;
            font-size: inherit;
            margin-left: 5px;
            padding-left: 5px;
        }

        .gray-text {
            margin: 0;
        }
    }
}