.nav-title-page {
    background-color: none;

    .accardion {
        background-color: cadetblue;

    }

    .nav-corusel-bar {
        margin-right: 0 auto;
        background-color: rgb(23, 64, 139);
        border: 1px solid red;

        .nav-bar {
            background-color: crimson;
        }

        .corusel-info {
            display: flex;
            flex-direction: row;
            background-color: cyan;

            .corusel {
                background-color: darkgreen;
            }

            .info-bar {
                background-color: gold;

                .info-card-1 {
                    background-color: gray;
                }

                .info-card-2 {
                    background-color: #fff;
                }
            }
        }
    }
}