$gray-color: #ededed;
$blue-color-site: hsl(213deg 50% 48%);

$font1: 'Alata', sans-serif;
$font2: 'Noto Serif', serif;
$font3: 'Questrial', sans-serif;

$font-size-md:10px;

$lg-xs: 992px;
$lg: 1024px;
$md: 767px;

.custom-color {
    color: $blue-color-site;
}

.subscribe-blue {
    background-color: $blue-color-site;
}