.title-logo-search {
    margin: 50px 0;
}

.title-logo {


    .logo-btn {
        display: flex;


        .logo-link {
            display: flex;
            align-items: center;
            font-size: 55px;
            text-decoration: none;
            color: rgb(77, 77, 168);
            gap: 10px;
        }

        .title-link {
            font-size: 50%;
            color: black;
            margin: 0;
        }
    }
}

.cart-btn {

    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: black;

    .cart-top {
        border: 0;
        background-color: white;
        font-size: 25px;
    }

}

.top-input {
    background-color: gainsboro;
    opacity: 0.7;
    border-radius: 5px;
}

#button-addon2 {
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: rgb(77, 77, 168);
    border: none;
}

#button-addon2:hover {
    color: white;
    background-color: rgb(56, 56, 153);
}