.title-logo-search {
    margin: 50px 0;
}

.title-logo {

    .logo-btn {
        display: flex;

        .logo-link {
            display: flex;
            align-items: center;
            font-size: 55px;
            text-decoration: none;
            color: rgb(77, 77, 168);
            gap: 10px;
        }

        .title-link {
            color: black;
            margin: 0;
            font-size: 25px;
        }
    }
}

.cart-btn {

    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: black;

    .cart-top {
        border: 0;
        background-color: white;
        font-size: 25px;
    }

}

.top-input {
    background-color: gainsboro;
    opacity: 0.7;
    border-radius: 5px;
}

.customes-button {
    background-color: $blue-color-site;
}

.after-media-search{
    display: none;
}

@media (max-width:$lg) {

    .before-search-and-btn {
        display: none;
    }

    .after-media-search{
        display: block;
        margin-top: 25px;
    }

    .title-logo {
        justify-content: space-between;
        padding: 0 10px;
    }

    .title-logo-search {
        margin-top: 10px;
    }

    .title-logo .logo-btn .logo-link {
        font-size: 40px;
    }

    .title-logo .logo-btn .title-link {
        font-size: 16px;
    }

    .my-cart {
        display: none;
    }
}
